#app {
    background-color: #f8f5f2;
}
img {
    object-fit: cover;
    border-radius: 50%;
}

.v-main {
    margin-bottom: 30px;
}
.v-data-table {
    cursor: pointer;
}
.v-toolbar__title {
    margin: 0 10px;
    letter-spacing: 3px;
    font-weight: bold;
}
.v-btn__avatar {
    margin: 0 10px;
}
.v-btn__link {
    margin-right: 5px;
}
