#app {
    background-color: #f8f5f2;
}
img {
    object-fit: cover;
    border-radius: 50%;
}

.v-main {
    margin-bottom: 30px;
}
.v-data-table {
    cursor: pointer;
}
.img__title {
    margin-top: 8px;
}
.v-btn__avatar {
    margin: 0 10px !important;
}
.v-btn__link {
    margin-right: 5px;
}
