#app {
    background-color: #f8f5f2;
}
img {
    object-fit: cover;
    border-radius: 50%;
}

.v-main {
    margin-bottom: 30px;
}
.v-data-table {
    cursor: pointer;
}
.img__title {
    margin-top: 8px;
}
.v-btn__avatar {
    margin: 0 10px !important;
}
.v-btn__link {
    margin-right: 5px;
}

.sessions__body {
    background-color: #f8f5f2;
    color: #222525;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin: 3.0em 0 0 0;
    font-size: 1.05em;
    line-height: 2.0em;
    letter-spacing: 0.08em;
}

.sessions__login-btn {
    font-size: 1.15em;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 0.8em 3em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 0.5em;
    background-color: #078080;
    color: #ffffff;
    margin-top: 1.0em;
    margin-bottom: 2.0em;
}

.sessions__stamp-kininaru {
    color: #f45d48;
    font-weight: bold;
}

.sessions__stamp-eye {
    font-size: 1.5em;
}
