name: reviewdog
on: [ pull_request ]
jobs:
  eslint:
    name: runner / eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: reviewdog/action-eslint@v1
        with:
          eslint_flags: 'app/javascript/**/*.{js,ts,vue}'
          fail_on_error: 'true'
